.container{
 overflow: hidden;
margin-left: 20vw;
padding-left: clamp(1rem, 1vw, 2em);

}


.AboutUsHeader{

    color: #636FED;
    font-size: clamp(3rem,5vw,9rem);
    padding-top: 3vw;
    padding-bottom: clamp(4rem, 1vw, 3em);
    padding-right: clamp(2rem,1vw,2rem);
    max-width: 20ch;
}
.AboutUsHeader h1{
    font-weight: bolder;
padding-bottom: 5em;
}

.container p{
    font-size: 1rem;
    letter-spacing: 1px;
    color: #636FED;
    padding-bottom: 5em;
    width: 80%;
}
.MasterContainer{
    background-color: #F0FFFF;
    
}
  
.MaidImageCont{
    z-index: -1;
    width: 100%;
    object-fit: cover;
margin-bottom: -30%; 
   height: auto;

}

.AboutUsContainerInfo{
    position: relative;
    
    font-weight: '100';
    max-width: 100%;
    padding: clamp(3em, 4vw, 5em);
    padding-bottom: 4rem;

    background-color: rgb(70, 13, 185);
    color: #170428;
}
.AboutUsContainerInfo > *{
    letter-spacing: 1px;
    margin-left: 20vw;
    padding-top: clamp(2em,4vw,6em);
    padding-bottom: clamp(4em,4vw,5em);

}
.AboutUsContainerInfo h1{
    color: #ededee;
font-family: 'Nunito';  
    padding-bottom: 2rem;
  font-size: clamp(3rem, 3vw, 6rem);
  font-weight: bolder;
  width: clamp(10ch, 4vw, max-content) ;
}
.AboutUsContainerInfo p {
    color: #636FED;
    font-weight: normal;
    padding-top: 1em;
    line-height: 1.4rem;
    width: max(100% - 1rem);
}
@media ( width < 700px) {
    .container{
        margin: auto;
        padding-top: 30vw;
        padding-left: 3rem;
        padding-right: 3rem;

    }

    .container p {

        width: 100%;
    }
    .AboutUsContainerInfo > *{
        margin-left: auto;
    
}
}