.container{
    margin-top: 2rem
}
.button{
    background-color: #1A3DAF;
    color: whitesmoke;
    border: none;
    padding: 1rem;
    padding-left:2rem;
    padding-right: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #85F2EF;
    letter-spacing: .011rem;
}

