.container{
    margin-top: 2rem;
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.button{
    background-color: #1A3DAF;
    color: whitesmoke;
    align-self: center;

    border: none;
    padding: 1rem;
    padding-left:2rem;
    padding-right: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #85F2EF;
    letter-spacing: .011rem;
}

