.BubbleOne, .BubbleTwo, .BubbleThree{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: clamp(1vw, 3rem,4vw);
    padding-bottom: clamp(1vw, 5rem,3vw);
    gap: 5vw;
   
}


.BubbleOne{
    display: flex;
    flex-direction:  row;
    padding-left: clamp(2rem, 5vw, 10vw);
    font-size:  clamp(16px, 1vw 2rem);
    padding-top: 1em;
    width: 100%;
    gap: 3vw;
justify-content: flex-start;

}

.BubbleOne img{
    order: 1;
    width: calc(100% - 10px)

}

.BubbleOneImage{
    clip-path: url('/public/blob.svg');    
    object-fit: contain;
}

.Bubble-One{
    display: flex;
}

.Bubble-One-Text-Container{
    padding: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}
.Bubble-One-Container{
    display: flex;
    flex-direction: row;
    
}
.BubbleOne > .BubbleOneImage{
    order: 2;
}
.BubbleOne .bubbleText{
    padding: 2rem;
    text-align: center;
}
.Bubble-One .bubbleMasterContainer .bubbleText h2{
    width: max(20ch, 80%);

}
.BubbleOne > .numberContainer {order: 1;}

.BubbleOne  .bubbleMasterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.numberContainer{
    
    font-size: clamp(1rem, 1.5vw,3rem);
    align-items: center;
    align-self: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-position: center;
    border-radius: 80%;
    border: 1px white solid;
}

.BubbleTwo{
    display: flex;
    flex-direction: row;
   font-size:  clamp(16px, 1vw 2rem);
   gap: 5vw;  
   justify-content: flex-end;
   padding: 5rem;
   
   
}
.BubbleTwo .numberContainer{
  
}
.BubbleTwo > *{
    display: flex;
}
.BubbleTwo .bubbleMasterContainer{
    display: flex;
  gap: 1rem;
    flex-direction: column-reverse;
}

.BubbleTwoImage{
    
    align-content: center;
    
}
.BubbleTwo img{
    height: auto;
    width: 100%;

    object-fit: cover;
}

.BubbleTwo > .bubbleText{
}
 .BubbleTwoImage img{
order: 2;

}

.BubbleTwo > .bubbleText {
    order:3;
}




.BubbleThree{   
    margin-left: clamp(2vw, 10rem, 10vw);
    width: fit-content;
    gap: 1vw;
     display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size:  clamp(16px, 1vw 2rem);
}   
.BubbleThree .bubbleMasterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.BubbleThree > .bubbleText {
    order: 3;
}
.BubbleThreeImage {
        object-fit: contain;
}

.BubbleThree h1{
    font-size: 2rem;    
    height: auto;
}  

.BubbleThree img{
        margin: -5rem;
        height: auto;
        object-fit: cover;
        width: clamp(12em, 90%, 80vw);
    }


    /*Ipad*/

@media (800px< width < 1000px){


        .BubbleOne, .BubbleTwo, .BubbleThree {

        }


}

/*mobile screens*/

@media (width < 900px)  {

    .BubbleOne, .BubbleTwo, .BubbleThree{
              display: flex;
            flex-direction: column;
            margin-top: 1vw;
            align-items: center;
            justify-content: center;
            
        }

        .BubbleOne .bubbleMasterContainer{
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
            align-items: center;

        }
        .BubbleOne .bubbleText{
            width: 80%;
        }

        .BubbleOne img{
            height: auto;
            width: clamp(12em, 90%, 50vw);
            object-fit: cover;
            order: 1;
        }
            .BubbleTwo{
                flex-direction: column;
            }
            .BubbleThree .bubbleMasterContainer{
                flex-direction: column;

            }
        }
    .BubbleThree img{
            margin: 0px
        }

    .BubbleOne, .BubbleTwo, .BubbleThree > *{

        
        }

    .BubbleThree img{
            margin: 0px
        }

    .BubbleTwo .bubbleText{
            width: auto;
        }
    
