.BubbleOne, .BubbleTwo, .BubbleThree{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: clamp(1vw, 3rem,4vw);
    padding-bottom: clamp(1vw, 5rem,3vw);
    gap: 5vw;
   
}


.BubbleOne{
    display: flex;
    flex-direction:  row;
    margin-left: 10em;
    font-size:  clamp(16px, 1vw 2rem);
    padding-top: 1em;
    width: max-content;
    gap: 1vw;
justify-content: space-between;}

.numberContainer{
    font-size: 1rem;
    align-items: center;
    align-self: center;
    padding: 1rem;
    background-position: center;
    border-radius: 50%;
    border: 1px white solid;
}

.BubbleTwo{
    margin-right: -25vw;

flex-direction: row;
    margin-left: 10em;
    padding-top: 1em;
    width: fit-content;
    display: flex;
    flex-direction: column;
   flex-grow: 2;
   font-size:  clamp(16px, 1vw 2rem);
   gap: 1vw;
    align-self: flex-end;
}
 .BubbleTwoImage img{
order: 2;

}

.BubbleTwo > .bubbleText {
    order:3;
}



@media (width < 900px ){
    .BubbleTwo{
        flex-direction: column;
    }
}
.BubbleThree{   
    margin-left: 10em;
    width: fit-content;

    justify-content: center;
     display: flex;
     padding-top: 1em;
     grid-area: three;

        flex-direction: row;

    flex-grow: 1;
    font-size:  clamp(16px, 1vw 2rem);
  grid-area: 'bubbleThree';
}   

.BubbleThree > .bubbleText {
    order: 3;
}
.BubbleThreeImage {
        object-fit: contain;
}
.BubbleOneImage{
    clip-path: url('/public/blob.svg');    
    object-fit: contain;
}

.Bubble-Image-Container{
}
.BubbleTwoImage{
    max-width: 50%;

    container :  bubbletwo / normal;

align-content: center;
justify-content: center;
    
}

.BubbleThree h1{
    font-size: 2rem;    
    height: auto;
}  

.Bubble-One{
        display: flex;
    }

.Bubble-One-Text-Container{
        padding: 1vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
    }
    .Bubble-One-Container{
        display: flex;
        flex-direction: row;
        
    }

    .BubbleThreeText{
    }
    
    .BubbleOne img{
        height: auto;
        width: clamp(12em, 90%, 50vw);
        object-fit: cover;
        order: 1;


    }
    .BubbleOne > .BubbleOneImage{
        order: 2;
    }
    .BubbleOne > .bubbleText{
        order: 3;
    }
    .BubbleOne > .numberContainer {order: 1;}
    .BubbleTwo img{
        height: auto;
        width: clamp(12em, 30%, 50vw);

        object-fit: cover;
    }
    
    .BubbleThree img{
        height: auto;
        object-fit: cover;
        width: clamp(12em, 90%, 80vw);
    }


    @media (width < 800px)  {
        .BubbleOne, .BubbleTwo, .BubbleThree{
            display: flex;
            flex-direction: column;
            margin: 5vw;
            margin-top: 1vw;
        }
        .BubbleOne, .BubbleTwo, .BubbleThree > *{
            padding-top: 1em;
        }
    
    }
