.FooterContainer{
    background-color: rgba(11, 110, 181, 0.8);
    font-size: 1vw;
    display: flex;
    width:  100%;
    z-index: 2;
    padding-left: 20vw;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2rem;
    color: white;
}

.FooterContainer > *{
    width: 100%;
}

.FooterContainer li{


}
.footerLogoContainer{
   align-items: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footerLinks{
    display: flex;
    flex-direction: row;
    gap: 5em;
    font-size: 1rem;
align-items: flex-start;}

.footerLinks ul a{
display: inline-block;
font-size: 1rem;
padding-bottom: 1em;
list-style: none;

}




.footerLinks li{
    padding: 0px 1rem 1rem 1rem;
    font-style: none;
    list-style-type: none;
    color: white;
list-style: none;}