.FooterContainer{
    background-color: rgba(17, 7, 210, 0.8);
    font-size: 1vw;
    display: flex;
    width:  100%;
    z-index: 2;
    padding-left: 20vw;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.FooterContainer > *{
    width: 100%;
}

.FooterContainer li{


}
.footerLogoContainer{
 
}
.footerLinks .links{
    display: flex;
    flex-direction: row;
    gap: 10em;
    
    font-size: 1rem;
align-items: flex-end;}

.footerLinks ul a{
display: inline-block;
font-size: 1rem;
padding-bottom: 1em;
list-style: none;

}

.footerLinks{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}


.footerLinks li{
    padding: 0px 1rem 1rem 1rem;
    font-style: none;
    list-style-type: none;
    color: white;
list-style: none;}

.linkContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}