


.HeroClass{
    top: 0;
    max-width: auto;
    
    margin: 0;
    display: flex;
     color: #ededed;
    flex-direction:column;

}
.HeroContainer{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:  max(80vh, 50rem);
    filter: saturate(90deg);
    padding: clamp(5rem,5vw, 10rem);
    background-image : url('../../public/gcherobgalt.webp');

}

.name{
    color: white;
    width: 100%;
    font-size: 1rem;
    align-self: flex-start;
}
.HeroClass h1{
box-sizing: border-box;
padding: 10rem 5rem 10rem 5rem;

/*font-size: clamp(2rem,6vw,6rem);*/
    color:#ebebeb;
   
}

.HeroClass h2{
    padding-top: 2rem;
    padding: 10rem 5rem 10rem 5rem;

    font-size: 1rem;
}

.slider{
}