.LinksOpen{
    font-family: 'Comfortaa';
    transition:2s;
}

.LinksOpen ul{
    font-weight: lighter;
    list-style-type: none;
    display: flex;
   flex-direction: column;
    color: black;
    text-decoration: none;
    list-style: none;

}
.LinksOpen li{ 
    padding-bottom: 1em;
    background-color: rgb(42, 42, 42);
    background-clip: text;
    padding-bottom: 6rem;
    color: blue;


    -webkit-background-clip: text;
color: transparent;}

.LinksOpen li:hover{
    
    background-color: black;

    background-size: 100% 100%;
    transition: 0.1s ;
    box-shadow: 5px 5px 15px 15px #0ff;
    background-clip: text;
    -webkit-background-clip: text;
}
.LinksClosed{
    display: none;

}
.LinksOpenLinks {
    font-size: 3em;
    padding-top: 2rem;
    padding-left: 2rem;
    color: rgb(13, 42, 210);
    list-style-type: none;
    text-decoration: none;
}