



.NavbarLogo{
    display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: transform 4s ease-in;


}
.NavbarLogo img {
    filter: hue-rotate(180deg) invert(100%);
    box-sizing:border-box;
    width: 3rem;
    padding: .5rem;
    height: auto;}

.logoClosed{
    display: none;
}





