



.NavbarLogo{
    display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: transform 4s ease-in;



}



.logoClosed{
    display: none;
}
.logoImg{
 
    width: clamp(2rem,1vw,3rem);
    position: absolute;
}

.logoGif {
object-fit: contain;
width: 20rem;
height: auto;
mix-blend-mode: color-dodge;
background-color: white;
}
.logoGif img {

    mix-blend-mode: color-dodge;
    background-color: white;

}