.NavbarContainerOpenDesktop{
   display: flex;
   z-index: 1;
   gap: 1em;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(253, 253, 255);
   width: 100vw;
   height: clamp(100%, 100vh, 200vh);
   color: rgb(16, 16, 16);
   padding: 1em;
    position: fixed;
    transition-property: width;
transition-duration: .4s;
}



.NavbarLogo{
    display: flex;
  align-items: center;
  flex-direction: column;



}
.NavbarLogo img{
    animation-name: text-circle;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}


.logoClosed{
    display: none;
}



#navbarLinks li{

    list-style-type: none;

}
.NavbarContainerClosedDesktop{
background-color: white;
min-height: 100vh;
position: fixed;
transition-property: width;
transition-duration: .4s;
z-index: 1;
width: 4rem;
display: flex;
justify-content: center;
}
.NavbarContainerClosed:hover{
    border-color: aquamarine;
    transition: 0.5s ;
}
.NavbarContainerClosedMobile{
    padding: 2rem;
    background-color: white;
    min-width: 100vw;
    width: auto;
    position: fixed;
   min-height: 2vh;
   z-index: 9999;
   box-shadow:hsl(from white h s l);
}
.NavbarContainerOpenMobile{
    background-color: white;
    transition: .2s;
    width: 100vw;
    min-height: 100vh;
    z-index: 9999;
    position: fixed;
    overflow: hidden;
}


.NavbarContainerMobile {display: flex;
    flex-direction: column;}




.logoNavHolder img {
}

@keyframes text-circle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(120deg);
    }
    0%{
        transform: rotate(180deg);
    }
    0%{
        transform: rotate(360deg);
    }
}
.logoText{
    padding: 0px;
    margin: 0px;
    width: 100%;
    transform-origin: bottom center;
    animation-name: text-circle;
    animation-duration: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}